@font-face {
    font-family: 'JaguarModernWeb';
    src: url('../fonts/JaguarModernWeb-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JaguarModernWeb';
    src: url('../fonts/JaguarModernWeb-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}